<div fxLayout="row wrap" fxLayoutGap="5px">
  <div class="my-mat-card" style="padding: 5px" *ngFor="let movie of movies; let i = index" >
    <mat-card class="mat-card">

      <mat-card-title class="mat-card-title" style="max-height: 32px; min-height: 32px">
        {{movie.title}}
      </mat-card-title>

      <img mat-card-image src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt={{movie.title}} style="max-height: 512px">

      <mat-card-actions>
        <a mat-raised-button color="primary" [routerLink] = "['/credits', movie.id]">Meet the cast!!!</a>
      </mat-card-actions>

    </mat-card>
  </div>
</div>
